<mat-toolbar
  color="primary"
  style="
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 0.5rem;

    height: 45px;
    align-items: center;
    gap: 0.5rem;
  "
>
  <div>Daxur Studios Libraries - Demo</div>
  @for (link of links; track link) {
  <button mat-button [matMenuTriggerFor]="menu" *ngIf="link.menu">
    {{ link.name }}
  </button>

  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngFor="let item of link.menu"
      [routerLink]="item.path"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ item.name }}
    </button>
  </mat-menu>
  }

  <mat-slide-toggle
    style="float: right"
    [checked]="themeController.isDarkMode"
    (toggleChange)="themeController.toggle()"
    >Dark Mode</mat-slide-toggle
  >
</mat-toolbar>

<router-outlet></router-outlet>
