<p>basic-html-map-demo works!</p>
<lib-html-map>
  <!--Draggable Boxes-->
  @for (node of nodes; track $index) {
  <div
    id="example-element"
    class="transition-all node"
    cdkDrag
    [cdkDragFreeDragPosition]="{ x: node.position.x, y: node.position.y }"
    [cdkDragConstrainPosition]="dragConstrainPoint"
    (cdkDragMoved)="nodeDragMoved($event, node)"
    (cdkDragEnded)="nodeDragEnded($event, node)"
  >
    <div class="face front">1</div>
    <div class="face back">2</div>
    <div class="face right">3</div>
    <div class="face left">4</div>
    <div class="face top">5</div>
    <div class="face bottom">6</div>
  </div>
  }
</lib-html-map>
