<daxur-engine
  [userInterface]="{
    showSceneTree: false,
    top: top,
    main: main
  }"
  [keyBindings]="keyBindings"
>
  <ambient-light color="lightgray" [intensity]="0.1" />
  <directional-light [position]="[1, 0, 1.5]" [intensity]="1.5" />

  <space-clock [position]="[0, 0, -5]" />

  <mesh
    raycast
    (rayClick)="imClicked($event)"
    (rayClickOutside)="imClickedOutside($event)"
    [position]="[-6, -6, -6]"
    [rotation]="[1, 2, elapsedTime$.value * 1.001]"
  >
    <box-geometry [params]="[2, 2, 4, 2, 2, 2]" />
    <mesh-standard-material [params]="{ color: 'springgreen' }" />
  </mesh>

  <!--Sun-->
  <sphere
    #sun
    [position]="[0, 0, 0]"
    [scale]="1"
    [params]="{ radius: 696340000, widthSegments: 100, heightSegments: 100 }"
  >
    <mesh-standard-material
      [params]="{ color: 'yellow', emissive: 'orange' }"
    />
    <!--Earth-->
    <group>
      <sphere
        [position]="[0, 0, 0]"
        [rotation]="[0, elapsedTime$.value * 0.001, 0]"
        [scale]="1"
        [params]="{ radius: 6371000, widthSegments: 120, heightSegments: 120 }"
      >
        <mesh-standard-material
          [params]="{ map: earthMap(), bumpMap: earthBumpMap(), bumpScale: 2 }"
        />
      </sphere>
    </group>
  </sphere>

  <!--Proxima Centauri-->
  <sphere
    [position]="[-155542487082161340, -119046723742847540, -379159977055869700]"
    [scale]="1542487082161340"
  >
    <mesh-normal-material />
  </sphere>

  <sphere
    #x
    [position]="[40, 0, 0]"
    [scale]="1"
    [params]="{ widthSegments: 100, heightSegments: 100 }"
  >
    <mesh-standard-material [params]="{ color: 'red' }" />
  </sphere>
  <sphere
    [position]="[-40, 0, 0]"
    [scale]="2"
    [params]="{ widthSegments: 100, heightSegments: 100 }"
  >
    <mesh-standard-material [params]="{ color: 'blue' }" />
  </sphere>

  @for (item of items; track item;let index = $index) {

  <grid-helper
    [divisions]="5"
    [size]="
      index * index * index * index * index * index * index * index * index
    "
    [position]="[
      0,
      -1 *
        (index * index * index * index * index * index * index * index * index),
      0
    ]"
  >
  </grid-helper>
  } @for (planet of planets; track planet.name) {
  <celestial-body [position]="planet.position"></celestial-body>
  }
</daxur-engine>

<ng-template #top>
  <!--UI-->
  <div
    style="height: 45px; width: max-content"
    class="pointer-events-auto mat-app-background"
  >
    <button (click)="speedUp()">Speed Up</button>
    <button (click)="speedDown()">Speed Down</button>
    <button (click)="reset()">Reset</button>

    @for (planet of planets; track planet.name) {
    <div
      style="
        display: inline-block;
        margin: 5px;
        padding: 5px;
        background: rgba(0, 0, 0, 0.15);
      "
    >
      <button>
        {{ planet.name }}
      </button>
    </div>
    }
  </div>
</ng-template>

<ng-template #main>
  @if (showMenu()) {
  <div class="pointer-events-auto mat-app-background" style="padding: 16px">
    MENU

    <div>
      <a routerLink="space-program"> Space Program </a>
    </div>
    <div>Gravity Arena</div>
    <div>Explore</div>
  </div>
  }
</ng-template>
