<div class="flex-page" style="border: dashed 2px rgb(0, 102, 255)">
  MAIN CONTENT
  <p>svg-ui-demo-p3 works!</p>
  <input type="number" [formControl]="centre" #input />
  <button (click)="showDebugPoints = !showDebugPoints">
    show debug points
  </button>
</div>

<div
  #wrapper
  style="
    border: dashed 2px rgb(13, 255, 0);
    display: flex;
    flex: 1 1;
    height: 100%;
    position: relative;
    overflow: visible;
    max-height: 50px;
  "
>
  <div class="spacer" style="flex: 1 1 100%"></div>
  <div
    class="toolbar-items"
    style="
      position: relative;
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      flex: 1 1;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    "
    #itemsWrapper
    libResize
    (onResize)="gsvg.onResize($event)"
  >
    <lib-generated-svg
      [data]="gsvg.generatedSvgData$"
      [showDebugPoints]="showDebugPoints"
      style="position: absolute"
    ></lib-generated-svg>

    @for (item of toolbarItems; track $index) {
    <button
      mat-icon-button
      [matTooltip]="item.label"
      (click)="setCenter(button, itemsWrapper)"
      #button
    >
      <mat-icon>{{ item.icon }}</mat-icon>
    </button>

    }
  </div>
  <div class="spacer" style="flex: 1 1 100%"></div>
</div>
